.reveal__area__container{
    height:80px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.368);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}