.main__area__container{
    height: 80px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__area__input{
    height: 40px;
    padding: 2px 4px;
    outline: none;
}